<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Timelapse</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Lego Timelapse - Menu</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item"><a href="/control">Control</a></li>
        <li class="list-group-item"><a href="/viewer">Viewer</a></li>
        <li class="list-group-item"><a href="/sets">Sets</a></li>
        <li class="list-group-item"><a href="/active-set">Set Active Set</a></li>
        <li class="list-group-item"><a href="/wslog">Web Socket Log</a></li>
        <li class="list-group-item"><a href="/images">Images</a></li>
        <li class="list-group-item"><a href="/camera-test">Camera Test</a></li>
        <li class="list-group-item"><a href="/video-stream">Video Stream</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
